<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/_head %>
</head>

<body>
    <% include ./partials/_header %>

    <div id="menu">
      <a href="/urls/new">Create a new link here</a>
    </div>

    <div id="content">
      <dl>
        <% for (url in urls) { %>
          <dt><a href="/u/<%= urls[url].shortURL %>" target="_blank"><%= urls[url].shortURL %></a></dt>
            <dd>
              <%= urls[url].longURL %>
              <a href="/urls/<%= urls[url].shortURL %>" class="edit-link">Edit</a>
              <form method="POST" action="/urls/<%= urls[url].shortURL %>?_method=DELETE">
                <input type="submit" value="Delete" />
              </form>
            </dd>
            <br />
        <% }; %>
      </dl>
    </div>
</body>
</html>
